<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="http://daigofuji.github.io/bbclub-font/css/bbclub-font.css"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">

    <div class="jumbotron text-center" id="jumbo">
        <h1><span id="mlb" style="color: white"><i class="bbclub-mlb" id="mlb"></i></span>Welcome!</h1>
    
    <div id="auth">
        <a href="/login" class="btn btn-default"><img src="http://res.freestockphotos.biz/pictures/14/14942-illustrated-silhouette-of-a-man-swinging-a-baseball-bat-pv.png" id="swing">Login</a>
        <a href="/signup" class="btn btn-default"><img src="https://pixabay.com/static/uploads/photo/2012/04/05/01/44/baseball-25756_960_720.png" id="ball">Signup</a>
    </div>


</div>
</body>
</html>