<!doctype html>
<html>
<head>
    <title>venueRater</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://daigofuji.github.io/bbclub-font/css/bbclub-font.css"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <style>
        body        { padding-top:40px; }
    </style>
</head>
<body>
    <div class="container">
        <div id="boxed">
            <h4>Have you ever wondered how your favorite sporting, music, or art venue rates when it comes to parking, food/beverage options, cleanliness, etc?</h4>
        </div>
        <div id="boxed2">
            <h4> Welcome to venueRater where the general public can rate venues based on their experiences!</h4>
        </div>

    <img src="http://freevector.co/wp-content/uploads/2012/10/77610-location-placeholder.png" alt="placekeeper" id="place">

    <div class="jumbotron text-center" id="jumbo">
        <h1>Welcome to venueRater!</h1>



    <div id="auth">
        <a href="/login" class="btn btn-default"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/13872-200.png" id="swing">Login</a><span id="space"></span>
        <a href="/signup" class="btn btn-default"><img src="https://cdn0.iconfinder.com/data/icons/ticket/500/Cinema_film_movie_ticket_entertainment_theater_coupon_circus-512.png" id="ball">Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </div>


</div>
</body>
</html>