<!doctype html>
<html>
<head>
    <title>Project</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://daigofuji.github.io/bbclub-font/css/bbclub-font.css"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">

    <div class="jumbotron text-center" id="jumbo">
        <h1><span id="mlb" style="color: #E2E2E2"><i class="bbclub-mlb" id="mlb"></i></span>Welcome!</h1>
    
    <div id="auth">
        <a href="/login" class="btn btn-default"><img src="http://res.freestockphotos.biz/pictures/14/14942-illustrated-silhouette-of-a-man-swinging-a-baseball-bat-pv.png" id="swing">Login</a><span id="space"></span>
        <a href="/signup" class="btn btn-default"><img src="http://clipartsign.com/upload/2016/01/18/black-and-white-baseball-clipart-the-art-mad-wallpapers.gif" id="ball">Signup</a>

        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

    </div>


</div>
</body>
</html>