<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="/public/stylesheets/style.css" /> -->
</head>
<body>

<form name="search" id="search" method="" action="">
    <div class="form-group">
      <input class="form-control" type="text" name="q" id="q" value="" placeholder="What venue are you interested in going to?"/>
    </div>
    <input class="btn btn-primary" id="search2" type="submit" name="submit" value="Search"/>
  </form>

  <ul id="results"></ul>
    <!-- <section id="venues"></section> -->

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript">

$(function() {
    var apiRoot = 'http://api.seatgeek.com/2/venues/';

    var loadVenues = function(){
      
      var jqxhr = $.ajax({
        url: apiRoot,
        method: "GET",
        data: {},
        dataType: "jsonp",
        jsonCallback: 'info'
      })
      .done(function(data) {
        var venues = data;
//      // console.log(data.venues[1]);

        // displayVenues();
        for (var i=0; i<data.venues.length; i++) {
//      console.log(data.venues[i].name);

          var content = '<li>' + data.venues[i].name + ', ' + data.venues[i].address + ', ' + data.venues[i].city + ', ' + data.venues[i].state + ', ' + data.venues[i].postal_code +'</li>';
              
//        // $('#results').append(content);
 //          console.log(content);
        }
      })
      .fail(function(jqXHR, textStatus) {
        console.log("Request failed: " + textStatus);
      })
      .always(function() {
        // console.log('Request completed');
      });

      function info(venues){
        alert(venues);
      };
    }

  loadVenues();

    var displayVenues = function(venues){
      for (var i=0; i<data.venues.length; i++){
        var venue = data.venues[i];

        appendVenue(venue);
      }
    };

    var appendVenue = function(venue){
      $('#results').append(venue);
      // console.log(venue.name);
      // $('#venues').append('<div class="venue">' + '<h3>' + venue.name + '</h3>' + '<h2>' + venue.city + '</h2></div>');
    };


    $('#search').on('submit', function() {
    // var searchTerm = $('#q').val();
    // console.log('The value submitted was: ' + searchTerm);
      
    var jqxhr = $.ajax({
        url: apiRoot,
        method: "GET",
        data: {},
        dataType: "jsonp",
        jsonCallback: 'info'
      })
      .done(function(data) {
        var venues = data;
        // displayVenues(venues);
            for (var i=0; i<data.venues.length; i++) {
              // console.log('Venue: ', venues[i]);

              var content = '<li>' + data.venues[i].name + ', ' + data.venues[i].address + ', ' + data.venues[i].city + ', ' + data.venues[i].state + ', ' + data.venues[i].postal_code +'</li>';
            
              console.log(content);
                  
              $('#results').append(content);
            }
      })
      .fail(function(jqXHR, textStatus) {
        // console.log("Request failed: " + textStatus);
      })
      .always(function() {
        // console.log('Request completed');
      });

      function info(venues){
        alert(venues);
        console.log(venues)
      };
    
  });

  loadVenues();

});
</script>
</body>
</html>