<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<form name="search" id="search" method="" action="">
    <div class="form-group">
      <input class="form-control" type="text" name="q" id="q" value="" placeholder="What venue are you interested in going to?"/>
    </div>
    <input class="btn2 btn-primary" id="search2" type="submit" name="submit" value="Search"/>
  </form>

<ul id="results"></ul>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript">

// $(function() {


    // Search MongoLab DB
  //   var venueAPI = './routes/api/v1/venues';

  //   var loadVenues = function(stadiumName){
      
  //     var jqxhr = $.ajax({
  //       url: venueAPI,
  //       method: "GET",
  //       data: {
  //         stadiumName: stadiumName
  //       },
  //       dataType: "jsonp",
  //       jsonCallback: 'info'
  //     })
  //     .done(function(data) {
  //       var venues = data;

  //       for (var i=0; i<data.venues.length; i++) {

  //         var content = '<a href="/main/:id"><li>' + data.venues[i].stadiumName + ' -- ' + data.venues[i].address + ', ' + data.venues[i].team + '</li></a>';
              
  //        console.log(content);
  //        $('#results').append(content);

  //       }
  //     })
  //     .fail(function(jqXHR, textStatus) {
  //       console.log("Request failed: " + textStatus);
  //     })
  //     .always(function() {
  //       // console.log('Request completed');
  //     });

  //     function info(venues){
  //       alert(venues);
  //     };
  //   }

  //   var displayVenues = function(venues){
  //     for (var i=0; i<data.venues.length; i++){
  //       var venue = data.venues[i];

  //       appendVenue();
  //     }
  //   };

  //   var appendVenue = function(venue){
  //     $('#venues').append(venue);

  //       console.log(venue);
  //   };

  //   // Search 
  //   $('#search').on('submit', function(evt) {
  //     evt.preventDefault();
  //     var searchTerm = $('#q').val();

  //     loadVenues(searchTerm);

  //     function info(venues){
  //       alert(venues);
  //     };
    
  // });

$(function() {

      // Search SeatGeek API
    var apiRoot = 'http://api.seatgeek.com/2/venues/';

    var loadVenues = function(name){
      
      var jqxhr = $.ajax({
        url: apiRoot,
        method: "GET",
        data: {
          name: name
        },
        dataType: "jsonp",
        jsonCallback: 'info'
      })
      .done(function(data) {
        var venues = data;

        for (var i=0; i<data.venues.length; i++) {

          var content = '<a href="/rate/' + data.venues[i].id + ' "><li>' + data.venues[i].id + ' -- ' + data.venues[i].address + ', ' + data.venues[i].city + ', ' + data.venues[i].state + ', ' + data.venues[i].postal_code +'</li></a>';
              
         console.log(content);
         $('#results').append(content);

        }
      })
      .fail(function(jqXHR, textStatus) {
        console.log("Request failed: " + textStatus);
      })
      .always(function() {
        // console.log('Request completed');
      });

      function info(venues){
        alert(venues);
      };
    }

    var displayVenues = function(venues){
      for (var i=0; i<data.venues.length; i++){
        var venue = data.venues[i];

        appendVenue();
      }
    };

    var appendVenue = function(venue){
      $('#venues').append(venue);

        console.log(venue);
    };

    // Search 
    $('#search').on('submit', function(evt) {
      evt.preventDefault();
      var searchTerm = $('#q').val();

      loadVenues(searchTerm);

      function info(venues){
        alert(venues);
      };
    
  });

$('#results').on('click', function(){


})



  // var dbdata = mongoose.connect(process.env.DB_CONN_SPORTY);

  // var loadmongodb = function(city){
      
  //     var jqxhr = $.ajax({
  //       url: dbdata,
  //       method: "GET",
  //       data: {
  //         city: city
  //       },
  //       dataType: "jsonp",
  //       jsonCallback: 'info'
  //     })
  //     .done(function(data) {
  //       var venues = data;

  //       for (var i=0; i<data.venues.length; i++) {

  //         var content = '<li>' + data.venues[i].name + ' -- ' + data.venues[i].address + ', ' + data.venues[i].city + ', ' + data.venues[i].state + ', ' + data.venues[i].postal_code +'</li>';
              
  //        $('#results').append(content);
  //       }
  //     })
  //     .fail(function(jqXHR, textStatus) {
  //       console.log("Request failed: " + textStatus);
  //     })
  //     .always(function() {
  //       // console.log('Request completed');
  //     });


});
</script>
</body>
</html>