body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E2E2E2;
}
ul{
list-style-type: none;
line-height: 1.5;
font-size: 16px;
}
#search2{
    background-color: black;
    width: 125px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    margin: 15px 50px;
}
#search2:hover{
    background-color: #6DB8BF;
    color: white;
}
#q{
    margin: 15px 50px;
    width: 500px;
    height: 50px
    
}
#jumbo{
    background-color: #050505;
    width: 500px;
    height: 250px;
    margin: 50px 375px;
    padding: 20px 20px;
    color: white;
    border-radius: 20   px !important;
}
h1{
    color: #1B9AAA !important;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}
a{
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 22px !important;
}
#mlb{
    padding-right: 10px;   
}
.btn{
    background-color: #E2E2E2;
    width: 125px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    color: black;
}
.btn:hover{
    background-color: #6DB8BF;
    color: white;
}


#swing{
    width: 30px;
    height: 26px;
    padding-right: 6px;
}
#ball{
    width: 36 px;
    height: 32px;
    padding-right: 6px;
}
#auth{
    margin: 15px 15px;   
    padding-top: 15px;
}
#space{
    padding: 0px 5px; 
}

.c-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Rating stars */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float:left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px black, 2px 2px black, .1em .1em .2em black;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #6DB8BF;
    text-shadow:1px 1px #c60, 2px 2px black, .1em .1em .2em black;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #6DB8BF;
    text-shadow:1px 1px black, 2px 2px black, .1em .1em .2em black;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #6DB8BF;
    text-shadow:1px 1px black, 2px 2px black, .1em .1em .2em black;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.rating{
  margin-left: 525px;
  margin-top: 50px;
}
h3{
    color: #1B9AAA !important;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    /*margin-top: 100px;   */
}
h2{
  text-align: center;
  /*margin-top: 50px;*/
  line-height: 1.5;
  font-size: 26px;
  font-weight: bold;
  margin-left: 200px;
}
#ask{
  margin-right: 220px;
}
/*// Favorites box */
div.background {
  background: #6DB8BF repeat;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: underline;
  font-size: 18px;
  border-radius: 5%; 
}

div.transbox {
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  height: 180px;
  border-radius: 5%;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
#btn2{
  background-color: black;
  color: white;
  /*margin: 80px;*/
  width: 125px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  margin: 20px; 
    
}
#btn2:hover{
  background-color: #6DB8BF;
  color: black;
  font-weight: bold;
}

#btn3{
  background-color: black;
  color: white;
  width: 200px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 4px;
/*margin: 180px;     */
  margin-top: 50px;
  margin-left: 500px;
}
#btn3:hover{
  background-color: #6DB8BF;
  color: black;
  font-weight: bold;
}
#btn4{
  background-color: black;
  color: white;
  /*margin: 80px;*/
  width: 125px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  margin: 20px;
    
}
#btn4:hover{
  background-color: #6DB8BF;
  color: black;
  font-weight: bold;
}
#boxed{
  width: 400px;
  -ms-transform: rotate(353deg); /* IE 9 */
  -webkit-transform: rotate(353deg); /* Chrome, Safari, Opera */
  transform: rotate(353deg);
}
#boxed2{
  width: 400px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  float: right;
  margin-top: -175px;
  margin-right: 100px;
}
h4{
  color: #1B9AAA !important;
  font-family: 'Bree Serif', serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
#place{
  height: 160px; 
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -140px;
  margin-left: 450px;
}
